<!DOCTYPE html>
<html>

	<head>
		<title>PrivateChat - Chat with a Friend!</title>
		<link rel="stylesheet" href="css/stylesheet.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	</head>

	<body>
		<header class="banner">

				<h1 class="bannertext">
					<a id="logo">Private<span>Chat</span></a>
				</h1>

		</header>
		<section>
			<div class="homesection">

				<a title="Create" href="/create" id="create">
					<div id="createbutton">
						<div id="little">Create a </div>
						<div id="big">Chat Room!</div>
					</div>
				</a>
		</section>
	</body>
</html>
